{% extends 'base.html' %}
{% block title %}Reset Email Sent{% endblock %}

<!--from https://simpleisbetterthancomplex.com/tutorial/2016/09/19/how-to-create-password-reset-view.html-->
{% block content %}

<main id="password-reset">
    <div class="col-xs-10 col-md-8 offset-md-2 offset-xs-1">

  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
  </div>
  </main>
{% endblock %}