{% extends 'base.html' %} 
{% load bootstrap_tags %}




{% block title %}Pay{% endblock %}
{% block content %}

<main id="pay">



<form method="POST" name="pay-delivery-form">
    {% csrf_token %}

{% if cart_contains_delivery_item %}

<div class="card-group">

{% for address in addresses %}

<div class="card" >
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">{{ address.full_name }}</h6>
    <p class="card-text">{{ address.street_address1 }}</p>
    {% if address.street_address2 %}
    <p class="card-text">{{ address.street_address2 }}</p>
    {% endif %}
    {% if address.postcode %}
    <p class="card-text">{{ address.postcode }}</p>
    {% endif %}
    <p class="card-text">{{ address.town_or_city }}</p>
    <p class="card-text">{{ address.county }}</p>
    <p class="card-text">{{ address.country }}</p>
  </div>
  <div class="card-footer">
    <div class="form-check">
    {% if address.current_delivery_method %}
  <input class="form-check-input" type="radio" name="deliverySelection" id="{{ address.id }}" add value="{{ address.id }}" checked >
  {% else %}
   <input class="form-check-input" type="radio" name="deliverySelection"id="{{ address.id }}" value="{{ address.id }}"  >
   {% endif %}
  <label class="form-check-label" >
    Use this address
  </label>
</div>

    </div>
</div>


{% endfor %}
</div>
<div class="row">
    <a href="{% url 'delivery' %}" class="btn add-another-address-btn btn-primary">Add another address</a>
</div>
{% endif %}
<div id="pay-with-card-section">
<p>Total: €{{ cart.get_total_price }}</p>



  <script
  
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_b67BbJYB2tO4Pksp4y9SHzfw"
    data-amount="{{ cart.get_stripe_price }}"
    data-name="UnicornAttractor"
    data-description="Cart Checkout"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="eur"
    >
  </script>

    <input type="hidden" name="next" value="{{ request.path }}">
  </div>
</form>
</main>

{% endblock %}
