{% extends 'base.html' %} 
{% load bootstrap_tags %}




{% block title %} Pay {% endblock %}
{% block content %}

{% for item in cart %}

 <p>{{ item.item.name }}, {{ item.quantity }} X €{{ item.price }}} = €{{ item.total_price }} </p> 
  
{% endfor %}
<br>
<p>Total: €{{ cart.get_total_price }}</p>



<form id="deliverySelectionForm" >

</form>

<form method="POST">
    {% csrf_token %}

{% if cart_contains_delivery_item %}
{% for address in addresses %}
<p>{{ address }}</p>
<div class="form-check">
    {% if address.current_delivery_method %}
  <input class="form-check-input" type="radio" name="deliverySelection" id="{{ address.id }}" add value="{{ address.id }}" checked >
  {% else %}
   <input class="form-check-input" type="radio" name="deliverySelection"id="{{ address.id }}" value="{{ address.id }}" >
   {% endif %}
  <label class="form-check-label" >
    Use this address
  </label>
</div>


<br><br><br>
{% endfor %}
{% endif %}


  <script
  
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_b67BbJYB2tO4Pksp4y9SHzfw"
    data-amount="{{ cart.get_stripe_price }}"
    data-name="Demo Site"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="eur"
    >
  </script>

    <input type="hidden" name="next" value="{{ request.path }}">
  
</form>

{% endblock %}
