{% extends 'base.html' %} 
{% load bootstrap_tags %}
{% block title %} Submit Suggestion {% endblock %}
{% block head %}
<!--Script for ckeditor-->
    {{ form.media }}
{% endblock %}
{% block content %}


<h1>{{ user }}</h1>
<form  method="post">
    {{ form|as_bootstrap }}
    {% csrf_token %}
    <input type="submit" value="Submit" id="bugFixSubmit">
    
   <!-- Button trigger modal -->
<button type="button" id="featureSubmit" class="btn btn-primary" data-toggle="modal" data-target="#featureSubmitModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="featureSubmitModal" tabindex="-1" role="dialog" aria-labelledby="featureSubmitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="featureSubmitModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Confirm Submission</button>
      </div>
    </div>
  </div>
</div>
 
    
</form>

<script>
    let showAppropriateButton = function() {
        if ($("#id_suggestion_type").val() == "True") {
            $("#bugFixSubmit").hide();
            $("#featureSubmit").show();
        }
        else {
            $("#bugFixSubmit").show();
            $("#featureSubmit").hide();
        }
    };
    
     $(document).ready(function(){
         showAppropriateButton()
     })

    $("#id_suggestion_type").change(showAppropriateButton)


</script>

{% endblock %}
