{% extends 'base.html' %} 
{% load bootstrap_tags %}
{% block title %} Submit Suggestion {% endblock %}
{% block head %}
<!--Script for ckeditor-->
    {{ form.media }}
{% endblock %}
{% block content %}


<form  method="post">
    {{ form|as_bootstrap }}
    {% csrf_token %}
    
    {% if not coins_enabled %}
    <input type="submit" value="Submit" id="bugFixSubmit">

      {% else %}
    <input type="submit" value="Submit" id="bugFixSubmit">
    
   <!-- Button trigger modal -->
<button type="button" id="featureSubmit" class="btn btn-primary" data-toggle="modal" data-target="#featureSubmitModal">
  Post Suggestion
</button>

<!-- Modal -->
<div class="modal fade" id="featureSubmitModal" tabindex="-1" role="dialog" aria-labelledby="featureSubmitModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="featureSubmitModalLabel">Submit Suggestion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
        <p>Suggestion Price: {{ price }} coins </p>
        Current coins: {{ user_coins }}
           {% if price > user_coins %}
        <p>You have insufficient coins to make this purchase</p>
        <form method="POST">
       
    
        <!--from bootstrap documentation-->
  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <label class="mr-sm-2" for="purchaseCoinsSelect">Add more coins</label>
      <select class="custom-select mr-sm-2" name="purchaseCoinsSelect" id="purchaseCoinsSelect">
        {% for coin_option in coin_options %}
        {% if coin_option == minimum_coins %}
        <option value="{{ coin_option.id }}" selected> {{ coin_option }} </option>
        {% else %}
         <option value="{{ coin_option.id }}" > {{ coin_option }} </option>
        {% endif %}
                {% endfor %}

      </select>
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary" name="purchaseCoins">Purchase coins</button>
    </div>
  </div>
        
        </form>
        {% endif %}
        
        
      </div>
      {% if user_coins >= price %}
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Confirm Submission</button>
      </div>
      {% endif %}
    </div>
  </div>
</div>
 
    
</form>

<script>
    let showAppropriateButton = function() {
        if ($("#id_suggestion_type").val() == "True") {
            $("#bugFixSubmit").hide();
            $("#featureSubmit").show();
        }
        else {
            $("#bugFixSubmit").show();
            $("#featureSubmit").hide();
        }
    };
    
     $(document).ready(function(){
         showAppropriateButton()
     })

    $("#id_suggestion_type").change(showAppropriateButton)


</script>


{% endif %}

{% endblock %}
