{% extends 'base.html' %} 
{% block title %} Home {% endblock %}

{% block content %}



<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="features-tab" data-toggle="tab" href="#features" role="tab" aria-controls="features" aria-selected="true">Suggestions</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="bugs-tab" data-toggle="tab" href="#bugs" role="tab" aria-controls="bugs" aria-selected="false">Bugs</a>
  </li>
  
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="features" role="tabpanel" aria-labelledby="features-tab">
      
<h3>Voting end date: {{ voting_end_date }} </h3>   




  <div class="btn-group" role="group">
    <button id="orderResultsButtonGroup" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort results by
    </button>
    <div class="dropdown-menu" aria-labelledby="orderResultsButtonGroup">
      <a class="dropdown-item" href="{% url 'home'  'oldest' %}">Oldest</a>
      <a class="dropdown-item" href="{% url 'home' 'newest' %}">Newest</a>
            <a class="dropdown-item" href="{% url 'home' 'comments' %}">Most Commented</a>

        <a class="dropdown-item" href="{% url 'home' 'upvotes' %}">Most Popular</a>
      
    </div>
  </div>







{% for feature in features %}

<div class="card">
  <div class="card-header">

    <p>Upvotes: {{ feature.upvotes }}</p>
    <p>Comments: {{ feature.comments }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ feature.title }}</h5>
    <p class="card-text">{{ feature.details|safe }}</p>
    <a href="{% url 'view_suggestion' feature.id %}" class="btn btn-primary">View Feature Suggestion</a>
  </div>
    <div class="card-footer text-muted">
    From {{ feature.user }}
  </div>
  
</div>

<br><br>
{% endfor %}

      
      </div>
  <div class="tab-pane fade" id="bugs" role="tabpanel" aria-labelledby="bugs-tab">
      
      <div class="btn-group" role="group">
    <button id="orderResultsButtonGroup" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Sort results by
    </button>
    <div class="dropdown-menu" aria-labelledby="orderResultsButtonGroup">
      <a class="dropdown-item" href="{% url 'home'  'oldest' %}#bugs">Oldest</a>
      <a class="dropdown-item" href="{% url 'home' 'newest' %}#bugs">Newest</a>
         <a class="dropdown-item" href="{% url 'home' 'comments' %}#bugs">Most Commented</a>

        <a class="dropdown-item" href="{% url 'home' 'upvotes' %}#bugs">Most Encountered</a>
    </div>
  </div>

            
      
{% for bug in bugs %}

<div class="card">
  <div class="card-header">
      <p>Upvotes: {{ bug.upvotes }}</p>
    <p>Comments: {{ bug.comments }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ bug.title }}</h5>
   <p class="card-text">{{ bug.details|safe }}</p>
    <a href="{% url 'view_suggestion' bug.id %}" class="btn btn-primary">View Bug</a>
  </div>
      <div class="card-footer text-muted">
    From {{ bug.user }}
  </div>
</div>

<br><br>
{% endfor %}
      
  </div>

</div>

<script>
// code from: https://stackoverflow.com/questions/7862233/twitter-bootstrap-tabs-go-to-specific-tab-on-page-reload-or-hyperlink
  var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
} 

  
</script>



{% endblock %}