{% extends 'base.html' %} {% block title %} View Data {% endblock %} {% block content %}
<main id="view-data">
    <h1 id="header">View Data</h1>

    <div class="row">
        <div class="col-xs-12 col-lg-8  offset-lg-1">
            <div class="row">
                {{ upvoted_chart|safe }}
            </div>
            <div class="row">
                {{ coin_spending_chart|safe }}
            </div>
            <div class="row">
                <img src="{{ june_completions_chart_url }}" alt="June completions chart"/>
            </div>
        </div>
    </div>


</main>
{% endblock %}
